/*//////////base.html\\\\\\\\\\*/
.banner {
    background-color: gold;
    padding: 1rem 0;
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.header-left {
    max-width: 360px;
    flex-grow: 1;
}

.title {
    margin: auto;
    flex-grow: 1;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    color: black;
}

.header-right {
    max-width: 360px;
    flex-grow: 1;
}

.navigation-list {
    display: flex;
    flex-direction: row;
    background-color: gold;
    justify-content: space-evenly;
    border: 1px solid #666;
    list-style-type: none;
}

.navigation-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.navigation-link:hover {
    background-color: #e6c200;
}

.dropdown {
    font-weight: bold;
}

.dropdown-menu {
    display: none;
    list-style: none;
    position: absolute;
}

.dropdown:hover .dropdown-menu {
    display: block;
    background-color: gold;
    width: 75%;
}

body {
    background-image: url('../../static/images/animeBackground.png');
    background-size: 100% 100%;
    background-attachment: fixed;
}


/*//////////index.html\\\\\\\\\\*/
.welcome {
    text-align: right;
    font-weight: bold;
}

.trend-header {
    text-align: center;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    background-color: gold;
    border-radius: 15px;
    padding: 0.5rem;
}

.news-grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, auto);
    border: 1px solid black;
    margin: 1rem;
    background-color: gold;
    border-radius: 15px;
    padding: 0.5rem;
}

.news-grid-item {
    min-height: 2fr;
    overflow-wrap: break-word;
    text-align: left;
}
.news-title {
    grid-column: span 3;
}

.news-author {
    grid-column: span 3;
}

.news-link-button {
    text-decoration: none !important;
    color: black !important;
}

/*//////////Crew Detail Page\\\\\\\\\\\*/

.crew-member-page {
    background-color: gold;
    border-radius: 15px;
    padding: 0.5rem;
}

/*//////////Crew List Page\\\\\\\\\\\*/

.crew-list-page {
    background-color: gold;
    border-radius: 15px;
    padding: 0.5rem;
}

/*//////////Anime List Page\\\\\\\\\\\*/

.anime-list-page {
    background-color: gold;
    border-radius: 15px;
    padding: 0.5rem;
}

.anime-navigation-list {
    display: flex;
    flex-direction: row;
    background-color: gold;
    justify-content: space-evenly;
    border: 1px solid #666;
    list-style-type: none;
}

.anime-list-item {
    display: flex;
    flex-direction: column;
    width: 10vw;
    height: auto;
}

.small-image {
    width: 10vw;
    height: 225px;
}

.anime-navigation-link {
    margin-top: auto;
    font-weight: bold;
    text-align: center;
}

.anime-navigation-link:hover {
    background-color: #e6c200;
}

/*//////////Anime Detail Page\\\\\\\\\\*/

.anime-detail-page {
    background-color: gold;
    border-radius: 15px;
    padding: 0.5rem;
}

.image-sum-flex {
    display: flex;
}

.detail-image {
    width: 15vw;
    padding-right: 0.5rem;
}

.detail-text {
    flex-grow: 3;
}

.small-avatar {
    max-width: 20px;
}

/*//////////Login/Logout Page\\\\\\\\\\\*/

.login-logout-page {
    background-color: gold;
    border-radius: 15px;
    padding: 0.5rem;
    background-size: auto 100%;
    display: inline-block;
}

.link-button {
    text-decoration: none !important;
    color: black !important;
}

/*//////////Register Page\\\\\\\\\\*/

.register-page {
    background-color: gold;
    border-radius: 15px;
    padding: 0.5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

/*//////////Anime Form\\\\\\\\\\*/

.anime-form {
    background-color: gold;
    border-radius: 15px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
}

/*/////////Add Crew Form\\\\\\\\\\*/

.add-crew-form {
    background-color: gold;
    border-radius: 15px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
}

/*/////////Anime Selection List Form\\\\\\\\\\*/

.anime-selection-list {
    background-color: gold;
    border-radius: 15px;
    padding: 0.5rem;
}

/*//////////Add Role Form\\\\\\\\\\*/

.add-role {
    background-color: gold;
    border-radius: 15px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
}

/*//////////Add Character Form\\\\\\\\\\*/

.add-character {
    background-color: gold;
    border-radius: 15px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
}

/*//////////Anime Crew List\\\\\\\\\\*/

.anime-crew-list {
    background-color: gold;
    border-radius: 15px;
    padding: 0.5rem;
}

/*//////////Rating Page\\\\\\\\\\*/

.rating-page {
    background-color: gold;
    border-radius: 15px;
    padding: 0.5rem;
}

.rating-review {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

/*//////////Search Results Page\\\\\\\\\\*/

.search-results-page {
    background-color: gold;
    border-radius: 15px;
    padding: 0.5rem;
}

/*//////////Profile Page\\\\\\\\\\*/

.profile-page {
    background-color: gold;
    border-radius: 15px;
    padding: 0.5rem;
}

.profile-header {
    display: flex;
    justify-content: space-between;
}

/*//////////Edit Profile Page\\\\\\\\\\*/

.profile-edit{
    background-color: gold;
    border-radius: 15px;
    padding: 0.5rem;
}

.avatar-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin-bottom: 10px;
    max-width:300px;
}

.avatar-option {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    border: 4px solid transparent;
    transition: border-color 0.3s;
}

.avatar-option:hover {
    border-color: #aaa;
}

.avatar-option.selected {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/*//////////Password Reset\\\\\\\\\\*/

.password-reset {
    background-color: gold;
    border-radius: 15px;
    padding: 0.5rem;
    background-size: auto 100%;
    display: inline-block;
}