{% extends 'catalog/base.html' %}
{% load tz %}
{% load static %}
{% block title %}{{ anime.title }} {% endblock %}

{% block content %}
    <div class="anime-detail-page">
        <h1 style="text-align: center;">{{ anime.title }}</h1>
        <div class="image-sum-flex">
            {% if anime.anime_image %}
                <img class="detail-image" src="{{ anime.anime_image.url }}">
            {% endif %}
            <div class="detail-text">
                <p><strong>Summary:</strong> {{ anime.summary }}</p>
                <p><strong>Genre:</strong> {{ anime.genre.all|join:", " }}</p>
                <p><strong>Production Studio:</strong> {{ anime.production_studio }}</p>
                <p><a href="{% url 'anime_crew_list' anime_id=anime.pk %}">View Crew List</a></p>
                <a href="{% url 'anime_list' %}">Back to Anime List</a><br>
            </div>
        </div>
{#      Reverse for 'rating_form' with no arguments not found. 1 pattern(s) tried: ['rating_show/(?P<pk>[0-9]+)/\\Z']#}
{#      I want to link every rating with the show and user that is being rated. #}
        {% if not existing_rating %}
            <a href="{% url 'add_rating' anime.id %}" class="btn btn-warning btn-sm">Add Rating</a>
        {% else %}
            <a href="{% url 'add_rating' anime.id %}" class="btn btn-warning btn-sm">Edit Rating</a>
        {% endif %}

        <a href="{% url 'anime_list' %}">Back to Anime List</a><br>
        {%  if anime.trailer_url %}
            <p>
            <a href="{{ anime.trailer_url }}" target="_blank" class='btn btn-danger btn-sm'>▶ Watch Trailer</a>
            </p>
        {%  else %}
            <p>No trailer available</p>
        {%  endif %}

        <p><strong>Where to Watch:</strong>
        {% if anime.streaming_options.all %}
            <div class="streaming-icons">
                {% for platform in anime.streaming_options.all %}
                    <a href="{{ platform.url }}" target="_blank" title="{{ platform.name }}">
                        {% if platform.icon %}
                            <img src="{{ platform.icon.url }}"
                                 alt="{{ platform.name }} logo"
                                 class="streaming-icon">
                        {% else %}
                            {{ platform.name }}
                        {% endif %}
                    </a>
                {% endfor %}
            </div>
        {% endif %}
<br>

        <h3>Ratings</h3>
        <a href="{% url 'add_rating' anime.id %}" class="btn btn-light btn-sm">Add Rating</a>
        {% if ratings %}
            {% for rating in ratings %}
                <br>
                <div class="rating-review">
                    <time datetime="{{ rating.created_at|date:'Y-m-d H:i:s' }}">
                        {{ rating.created_at|localtime|date:"m/d/Y, P" }}
                    </time>
                    <p>
                        <img class="small-avatar" src="{% static 'avatars/'|add:rating.user.userprofile.avatar %}" alt="User Avatar">
                        <a class="navigation-link" href="{% url 'user_profile' username=rating.user.username %}"><strong>{{ rating.user.username }}</strong></a>
                        rated {{ rating.rating }} stars.
                    </p>
                    <p style="margin-left:40px;">{{ rating.comment }}</p>
                </div>
                <br>
            {% endfor %}
        {% else %}
            No ratings yet. Be the first to review!
        {% endif %}
{% endblock %}