{% extends 'catalog/base.html' %}

{% block content %}
    <div class="anime-crew-list">
        <h3 style="text-align: center">Crew List for {{ anime.title }}</h3>

        <h4>Directors:</h4>
        {% if directors %}
            <ul>
                {% for director in directors %}
                    <li>
                        {{ director.crew_member.first_name }} {{ director.crew_member.last_name }} -
                        <a href="{% url 'crew_member_detail' pk=director.crew_member.pk %}">View Details</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No directors listed.</p>
        {% endif %}

        <h4>Writers:</h4>
        {% if writers %}
            <ul>
                {% for writer in writers %}
                    <li>
                        {{ writer.crew_member.first_name }} {{ writer.crew_member.last_name }} -
                        <a href="{% url 'crew_member_detail' pk=writer.crew_member.pk %}">View Details</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No writers listed.</p>
        {% endif %}

        <h4>Voice Actors (by Character):</h4>
        {% if voice_actors %}
            <ul>
                {% for character in voice_actors %}
                    <li>
                        <strong>{{ character.character_name }}</strong> ({{ character.language }})
                        <br>
                        Actor: {{ character.crew_member.first_name }} {{ character.crew_member.last_name }} -
                        <a href="{% url 'crew_member_detail' pk=character.crew_member.pk %}">View Details</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No voice actors listed.</p>
        {% endif %}
    </div>
{% endblock %}