{% extends 'catalog/base.html' %}
{% block content %}
    <div class="rating-page">
        {% block title %}
          <h1>{{ anime.title }}</h1>
        {% endblock %}

        {% if not existing_rating %}
            <h3> Add Rating</h3>
        {% else %}
            <h3> Edit Rating</h3>
        {% endif %}
        <form action="{% url 'add_rating' anime.id %}" method="POST">
            {% csrf_token %}
        {#    Missing associated label#}
            <label for="comment">Review:</label><br>
            <textarea placeholder="Review" name="comment" id="comment" cols="30" rows="5"></textarea><br>
            <label for="rating">Rating:</label><br>
            <select id="rating" name="rating" class="form-control" style="width: 100px">
                <option value="1"> 1 </option>
                <option value="2"> 2 </option>
                <option value="3"> 3 </option>
                <option value="4"> 4 </option>
                <option value="5"> 5 </option>
            </select>

            {% if not existing_rating %}
                <input type="submit" class="btn btn-success" value="Add Rating">
            {% else %}
                <input type="submit" class="btn btn-success" value="Edit Rating">
            {% endif %}

        </form>
    </div>
{% endblock content %}